{% extends 'base.html' %}

{% block titleblock %}Home{% endblock %}

{% block breadcrumbblock %}
<li class="breadcrumb-item active"><a href="{% url 'app_boards:home' %}"></a>Boards</a></li>
{% endblock %}

{% block bodyblock %}
<div>
    <a href="{% url 'app_boards:board_form' %}" class="px-4 py-2 my-4 btn btn-info btn-sm">Create Board</a>
</div>
<table border="1" class="table">
    <thead class="thead-dark">
        <tr>
            <th>Boards</th>
            <th>Topics</th>
            <th>Posts</th>
            <th>Last Post</th>
        </tr>
    </thead>
    <tbody>
        {% for board in boards %}
        <tr>
            <a href="#">
                <td>
                    <a href="{% url 'app_boards:board_topics' board_id=board.pk %}">{{board.name}}</a>
                    <br>
                    <small class="text-muted d-block">
                        <p>{{board.description}}</p>
                    </small>
                </td>
            </a>
            <td class="align-middle">0</td>
            <td class="align-middle">0</td>
            <td class="align-middle">0</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
